body{
 background : url("../Images/TEST1.jpg");
 background-size: cover;
	justify-content: center;
	align-items : center;
}
#images
{
	margin : 0px 0px 0px 0px;
	
	display: flex;
	justify-content: center;
	align-items : center;
	flex-direction:column
	
}
button {     
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
	
}
#fin
{
	margin : 0px 40px 0px 40px;
	
	display: flex;
	justify-content: center;
	
	flex-direction:column
	
}
h1
{ display: flex;
	justify-content: center;
}
#DT{
	display: flex;
	justify-content: center;
	align-items : center;
}
#a
{
	margin : 0px 0px 0px 0px;
	
	display: flex;
	justify-content: center;
	
	flex-direction:column
	
}
nav
{
	display: flex;
	justify-content: center;
	align-items : center;
	flex-direction:row;
}

nav ul
{
	list-style-type : none;
	margin : 0px 0px 0px 0px;
	display: flex;
	justify-content: center;
	align-items : center;
	flex-direction: row;
	background-color : Transparent;
}

nav a
{
	text-decoration : none;
	color : black;
	font-size : 24px;
	display : block;
	padding: 10px 16px 6px 16px ;
}

nav a:hover {
	color : white;
	background : black;